@import 'reset';
@import 'vars';
@import 'typography';

html {
  font-family: $font-serif;

  body {
    color: $color-black;
    margin: 0 auto;
    max-width: 40rem;
    padding: 0 1rem;
  }

  *:focus {
    outline: 0.25rem solid rgba($color-main, 0.5);
  }

  &::selection {
    background: $color-black;
    color: $color-white;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
      background: $color-main;
  }

  &::-webkit-scrollbar-track {
      background: rgba($color-main, 0.1);
  }
}
