@import 'reset';
@import 'vars';
@import 'typography';
@import 'transitions';

#site {
  font-family: var(--font-serif);
  padding: 0 1rem;
  transition: background 0.5s ease-out, color 0.5s ease-out;

  &[data-theme="light"] {
    background: var(--color-white);
    color: var(--color-black);
  }

  &[data-theme="dark"] {
    --color-main-base: var(--color-main-light);
    --color-main-extralight: var(--color-white);
    background: var(--color-black);
    color: var(--color-white);

    *::selection {
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-main-base);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-main-extralight);
  }

  *:focus {
    outline: 0.25rem solid var(--color-main-base);
  }

  *::selection {
    background: var(--color-black);
    color: var(--color-white);
  }

  .container {
    margin: 0 auto;
    max-width: 40rem;
  }
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
