@import 'reset';
@import 'vars';
@import 'typography';

html {
  font-family: var(--font-serif);

  body {
    color: var(--color-black);
    margin: 0 auto;
    max-width: 40rem;
    padding: 0 1rem;
  }

  *:focus {
    outline: 0.25rem solid var(--color-main-dark);
  }

  *::selection {
    background: var(--color-black);
    color: var(--color-white);
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
      background: var(--color-main-base);
  }

  &::-webkit-scrollbar-track {
      background: var(--color-main-extralight);
  }
}
