h1 {
  font-family: var(--font-sans);
  font-size: 3rem;
  font-weight: var(--weight-black);
  line-height: 1.2;
}

h2 {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: var(--weight-heavy);
  line-height: 1.5;
}

h3 {
  font-family: var(--font-sans);
  font-size: 1.3rem;
  font-weight: var(--weight-heavy);
  line-height: 1.5;
}

p {
  font-family: var(--font-serif);
  font-size: 1.2rem;
  line-height: 1.5;
}

strong {
  font-weight: 600
}

ul,
ol {
  margin: 1rem 0 1rem 1rem;
  padding: 0;

  li {
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 1.5em;
    position: relative;

    &::before {
      background-color: currentColor;
      border-radius: 50%;
      content: '';
      display: block;
      height: 0.3125rem;
      left: -1rem;
      position: absolute;
      top: 0.8rem;
      width: 0.3125rem;
    }

    & + li {
      margin-top: 1rem;
    }
  }
}

ol {
  list-style: decimal;

  li:before {
    display: none
  }
}

blockquote {
  font-style: italic;
  margin: 2rem 0;
  position: relative;

  &::before {
    background: linear-gradient(var(--color-main-light), var(--color-main-extralight));
    bottom: 0;
    content: '';
    left: -2rem;
    position: absolute;
    top: 0;
    width: 0.5rem;
  }
}

pre {
  margin: 1rem 0;

  code {
    padding: 0;
  }
}

code {
  background: linear-gradient(320deg, var(--color-main-light), var(--color-main-extralight));
  border-radius: 0.25rem;
  font-family: monospace;
  padding: 0.125rem 0.25rem;
}

abbr {
  border-bottom: 0.125rem dotted var(--color-main-base);
  box-sizing: border-box;
  text-decoration: none;
}

kbd {
  background: var(--color-gray-extralight);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px var(--color-gray-light);
  font-family: monospace;
  padding: 0.125rem 0.25rem;
}
