// Colors
$color-main: #74b49b;
$color-white: #fff;
$color-black: #000;

// Font families
$font-sans: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';

$font-serif: Georgia, Palatino, "Times New Roman", serif;

// Font weights
$weight-heavy: 800;
$weight-black: 900;
